@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


body{
    background-color: hsl(234, 17%, 12%);
    background-image:url(./images/bg-stars.svg), url(./images/images_-_2024-12-09T154927.036-removebg-preview.png), url(./images/pattern-hills.svg);
    background-position: top, top, bottom;
    background-repeat: repeat, repeat-x, no-repeat;
    background-size: 100% 75%, 50% 75%, 150% 25%; /* kind of like width then height percentage */
}
.num{
    backface-visibility: hidden;
    position: relative;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 45%, /* The side line right upper  */
        90% 50%, /* The right edge pointer */
        100% 55%, /* The side line right lower  */
        100% 100%, 
        0 100%, 
        0 55%, /* The side line left lower */
        10% 50%, /* The left edge pointer */
        0 45% /* The side line upper left */
    );
    /* background: linear-gradient(to bottom , hsl(235, 16%, 14%) 50%,hsl(236, 21%, 26%) 50%, hsl(236, 21%, 26%) 100% ); */
    background: hsl(236, 21%, 26%);
}
.num-div{
    box-shadow: 0px 2px 1px 1px black;
    
}
.num::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: black;
    top: 50%;
    left: 0;
    
}





.animate{ 
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 10;
}

@keyframes slide {
    0%{
        transform: rotateX(180deg)
    }
}

/* @keyframes slide {
    0%{
        transform: rotateX(180deg)
    }
} */


/* .num::before, .num::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    top: 27%;
    
} */
/* transform: translateY(-20%); */
/* .num::before{
    left: -13px;
    border-width: 10px 10px 0 10px;
    border-color:  transparent transparent transparent hsl(234, 17%, 12%);
    transform: rotate(-135deg);
}
.num::after{
    right: -13px;
    border-width: 10px 10px 0 10px;
    border-color:  transparent transparent transparent red;
    transform: rotate(45deg);
} */